nav li {
    display: inline;
}

nav a {
    padding-left: 10px;
    padding-right: 10px;
}

a:link {
    color: #1B5FAA;
}

a:visited {
    color: #ffdc00;
}

a:hover {
    text-decoration: none;
    color: #5bc2f4;
}

a:active {
    color: #7474c1;
}

h1 {
    background-color:#008080;
    color:#f8f8f8;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

h2 {
    background-color:#00abab;
    color:#f8f8f8;
    font-family: Arial, sans-serif;
    font-size: 22px;
}

body {
    background-color:#f2ffff;
    color:#6a6a6a;
    font-family: Arial;
    font-size: 12px;
    margin: 10px
}

p {
    background-color:#f2ffff;
    color:#6a6a6a;
    font-family: Arial;
    font-size: 12px;
    margin: 10px;
}

<!--Tables from page 334-->    
table {
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }